/* Algemeen */
@import url("https://use.typekit.net/sak0ami.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "alfabet", sans-serif;
}

a {
    text-decoration: inherit;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

hr {
    width: 80px;
    margin: auto;
    margin-bottom: 20px;
    border: 5px solid #F26419;
    border-radius: 100px;
}

img {
    max-width: 100%;
    border-radius: 50px 10px;
    object-fit: cover;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1.2em;
    color: #212121;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

h1 u {
    text-decoration-color: #F26419;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Buttons */
.button-1 {
    color: white;
    text-decoration: underline;
    font-weight: 300;
    text-underline-offset: 2px;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 999;
    padding: 20px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    vertical-align: middle;
    height: 70px;
    width: auto;
    border-radius: inherit;
}

.menu-toggle label, header label img {
    cursor: pointer;
    height: 36px;
}

.menu-toggle input[type="checkbox"] {
    display: none;
}

.menu-toggle nav {
    display: none;
    position: absolute;
    right: 0;
    top: 110px;
    width: 100%;
}

header nav {
    background-color: #212121;
}

header li {
    padding: 10px 20px;
}

header li a, header li {
    display: flex;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: white;
    transition: all .3s ease;
}

header li#current {
    background-color: #33658A;
}

header li:hover, header li#current:hover {
    background-color: #86BBD8; /* Zie je niet op mobiel */
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    transition: all .3s ease;
}

/* Footer */
footer {
    background-color: #33658A;
    padding: 20px;
}

footer p {
    color: white;
    margin: 0;
    text-align: center;
}

/* Padding */
.home-hero, .schoonleven, .interviews, .interview-hero, .bewoner-sectie-1, .bewoner-sectie-2, .funfacts-hero {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}

/* Home - Hero */
.home-hero {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/branding/Icon_SchoonLeven.svg);
    background-size: 240%;
    background-repeat: no-repeat;
    background-position: 70% 100%;
}

.home-hero div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.home-hero span {
    color: #758E4F;
}

.img-hero {
    width: 70vw;
    height: 50vh;
    object-fit: cover;
    object-position: 30% 50%;
}

.img-circle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 5px solid white;
    z-index: 1;
    position: absolute;
    left: 15px;
    bottom: 95px;
}

/* Home - Schoonleven */
.schoonleven {
    background-color: #33658A;
}

.schoonleven h2, .schoonleven p {
    text-align: center;
    color: white;
}

/* Home - Interviews */
.interviews h2 {
    text-align: center;
    margin-bottom: 0;
}

.interview-articles article {
    margin-bottom: 44px;
    background-color: #758E4F;
}

.interview-articles article:last-of-type {
    margin-bottom: 0;
}

.interview-articles {
    padding-bottom: 50px;
}

.bewoner-interview {
    background-color: #F8F8F8;
    padding: 16px 20px;
}

.bewoner-interview-rechts, .bewoner-interview-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.bewoner-interview h3 {
    color: white;
    margin-bottom: 5px;
}

.bewoner-interview img {
    width: 155px;
    height: 115px;
    margin-top: -40px;
    border: 5px solid #758E4F;
}

.bewoner-interview-rechts {
    justify-content: space-between;
    border-radius: 10px 0 0 10px;
    margin: 20px 0 20px 20px;
}

.bewoner-interview-rechts div {
    padding-right: 20px;
}

.bewoner-interview-links {
    justify-content: flex-start;
    border-radius: 0 10px 10px 0;
    margin: 20px 20px 20px 0;
}

.bewoner-interview-links div {
    padding-left: 20px;
}

/* Interview - Hero */
.interview-hero div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.interview-hero img {
    height: 200px;
}

.interview-hero img:first-of-type {
    width: 20vw;
    border-radius: 50px 50px 50px 10px;
}

.interview-hero img:nth-of-type(2) {
    width: 40vw;
}

.interview-hero img:last-of-type {
    width: 20vw;
    border-radius: 10px 10px 50px 50px;
}

/* Bewoner secties */
.bewoner-sectie-1 {
    background-color: #F8F8F8;
}

.bewoner-sectie-2 {
    background-color: white;
}

.bewoner-sectie-1 h2, .bewoner-sectie-1 p, .bewoner-sectie-2 h2, .bewoner-sectie-2 p {
    text-align: center;
}

.bewoner-sectie-1 h2 span, .bewoner-sectie-2 h2 span {
    color: #758E4F;
}

/* Quote */
.quote {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote h3 {
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0;
}

.quote-icon {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    background-color: #F26419;
    border-radius: 50%;
}

.quote-icon img {
    width: 60px;
    border-radius: 0;
    padding: 1em;
}

.bewoner-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bewoner-quote img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bewoner-quote p {
    font-size: 14px;
    color: white;
    margin: 0;
}

/* Markus Schmid */
#markus-quote {
    background-image: linear-gradient(0deg, rgba(242, 100, 25, 0.8), rgba(246, 174, 45, 0.8)), url(../images/markus/Schoonschip_Woning_229-Werkplek.jpg);
}

/* Image sliders */
.slider-caption {
    font-style: italic;
    margin: 0;
}

.img-slider-1 {
    background-image: url(../images/markus/Markus_Schmid_1.jpg);
    width: 100%;
    height: 200px;
    border-radius: 50px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide-right 30s ease-in-out infinite both;
}

@keyframes slide-right {
    0%, 100% {
        background-image: url(../images/markus/Schoonschip_Woning_229.jpg);
    }
    10% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Zijkant.jpg);
    }
    20% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Achterkant.jpg);
    }
    30% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Voordeur.jpg);
    }
    40% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Boekenkast.jpg);
    }
    50% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Keuken.jpg);
    }
    60% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Werkplek.jpg);
    }
    70% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Gitaren.jpg);
    }
    80% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Naaimachine.jpg);
    }
    90% {
        background-image: url(../images/markus/Schoonschip_Woning_229-Meterkast.jpg);
    }
}

.img-slider-2 {
    background-image: url(../images/schoonschip/Schoonschip_Steiger_1.jpg);
    width: 100%;
    height: 200px;
    border-radius: 50px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide-right 25s ease-in-out infinite both;
}

@keyframes slide-right {
    0%, 100% {
        background-image: url(../images/schoonschip/Schoonschip_Oven.jpg);
    }
    20% {
        background-image: url(../images/schoonschip/Schoonschip_Fietsen.jpg);
    }
    40% {
        background-image: url(../images/schoonschip/Welkom_bij_Schoonschip.jpg);
    }
    60% {
        background-image: url(../images/schoonschip/Schoonschip_Steiger_2.jpg);
    }
    80% {
        background-image: url(../images/schoonschip/Schoonschip_Reddingsboei.jpg);
    }
}

/* Joost & Sol */
#joost-janmaat img {
    width: 100%;
    height: 250px;
    border-radius: 50px 10px;
}

#joost-quote {
    background-image: linear-gradient(0deg, rgba(242, 100, 25, 0.8), rgba(246, 174, 45, 0.8)), url(../images/joost-en-sol/Schoonschip_Woning_Joost_Janmaat.jpg);
}

/* Fun facts */
.funfacts-hero h1 {
    text-align: center;
}
.fun-facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.fun-facts article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 47%;
    text-align: center;
    background-color: #F6AE2D;
    padding: 20px;
    border-radius: 50px 10px;
}

.fun-facts img {
    border-radius: 0;
    height: 80px;
    margin-bottom: 1em;
}

.fun-facts h3, .fun-facts p {
    color: white;
    margin: 0;
}